.remove-btm {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

body {
    /* background-color:#CEB992; */
}

li.nav-item.active {
    background-color: blue;
}

#rsvpForm {
    padding-top: 3rem;
}

.container {
    /* background-color: #73937E; */
}

.jumbotron {
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:#B8D0EB;
  }

.img-journey {
    text-align: center;
}
  
   div#nav {
     padding: 15px;
     font-size: 20px;
     color: #f5f1e4;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
  
   /* .btn{
     color:#192028;
     outline-color: #f5f1e4;
   }

   .btn-secondary {
       background-color: #f5f1e4;
   }
  
   #nav-btn:hover {
     background-color: #f5f1e4;
   } */
  
   #addGuest {
    cursor: pointer;
   }