.remove-btm {
    margin-right: 0.5rem;
}

.fade-enter {
    margin: 0 auto;
    width: 60%;
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}



@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

body {
   background-color: #ebf2ea;
}

.jumbotron {
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
  }

.img-journey {
    text-align: center;
    padding-top: 8%;
}

.img-card {
    width: 100%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
div#nav {
    padding: 15px;
    font-size: 7px;
    color: #f5f1e4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn.btn.btn-secondary.active {
    background-color: #ebf2ea;
    border-bottom-color: #449639;
    border-bottom-width: 3px;
    border-top-color: #ebf2ea;
    border-left-color: #ebf2ea;
    border-right-color: #ebf2ea;
    color:black;
    box-shadow: none !important;
    font-size: 25px;
}


.btn-secondary {
    background-color: #ebf2ea !important;
    color: #449639 !important;
}

.btn-primary {
    background-color: #ebf2ea !important;
    color: #449639 !important;
}


.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ebf2ea !important;
    color: #449639;

}

  
.btn{
    color:black;
    border-color: #ebf2ea;
    font-size: 25px;
    box-shadow: none;
}

.btn:hover {
    background-color: #46E34D;
    transition-delay: 2s ease-in;
    opacity:1;
    border:none;

}

#spacing {
    padding-top:8%;
}


.btn-secondary {
    background-color: white;
    font-size: 25px;
}


   #details {
       padding-left:8%;
   }

   #padding-top {
       padding-top: 3%;
   }

   #padding-bottom {
       padding-bottom: 5%;
   }

   #full-height {
       height:100%;
   }

   .transportation-width {
       width: 60%;
   }

   .card .card-body .card-text {
    color: #747373;
    font-size: 1.3rem;
    font-weight: 400;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 1.7rem;
    color: #449639;
}

.btn.btn-sm {
    padding: 0.5rem 1.6rem;
    font-size: 0.84rem;
}

.img-card {
    height: 18rem;
    object-fit: contain;
    background-color: #ebf2ea;
}