.remove-btm {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

div#wrapperHeader {
    background-image: url('./images/photo.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    max-width: 100%;
}

.img-journey {
    text-align: center;
}
   /* @media (min-width: 480px) {
    div#wrapperHeader { height: 300px; width: 580px;}
    .title { height:50px; width: 100px;  margin-top: 20px; padding-left: 0px;}
    }

    @media (min-width: 300px) {
        div#wrapperHeader { height: 150px; width: 380px;}
        .title { height:50px; width: 100px; margin-top: 20px; margin-left: 30px;}
        }

    @media (min-width: 768px) {
        div#wrapperHeader { height: 400px; width: 768px;}
        .title { height:400px; width: 500px; padding: 100px; padding-left: 100px;}
    }

    @media (min-width: 992px) {
        div#wrapperHeader { height: 675px; width: 100%;}
        .title { height:500px; width:680px; padding: 100px; padding-left: 200px;}
    } */
   
   /* .title {
     padding: 100px;
     padding-left: 200px;
   } */
  
   div#nav {
     padding: 15px;
     font-size: 20px;
     color: #267129;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
  
   .btn{
     color:#267129;
   }
  
   #nav-btn:hover {
     background-color: #267129;
   }
  
   #addGuest {
    cursor: pointer;
   }